<!DOCTYPE html>
<html>
<head>
    <title>Quiz 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{#    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>#}
</head>
<body>
    <div>
        <a href="/question1">Question1</a>
        <a href="/question2">Question2</a>
        <a href="/question3">Question3</a>
        <a href="/question4">Question4</a>
        <a href="/question7">Question7</a>
        <a href="/question9">Question9</a>
        <a href="/question10">Question10</a>
        <br><br>
        <h2>Nagarajan, Prinitha</h2>
        <h2>1001668557</h2>
    </div>

<br/><br/>
<form name="q5" action = "/q5" method = "get" enctype = "multipart/form-data">
    <input type="Submit" value="State List">
    </form>
<br/><br/>

<br/><br/>
<form name="q7" action = "/q7" method = "get" enctype = "multipart/form-data">
        Enter the Interval: <input type="number" name="interval" placeholder="Interval">
        <input type="Submit" value="q7">
    </form>
<br/><br/>

<br/><br/>
<form name="q6" action = "/q6" method = "get" enctype = "multipart/form-data">
{#        Enter the Interval: <input type="number" name="interval" placeholder="Interval">#}
    Range 1: <input type="text" name="range1"> Range 2: <input type="text" name="range2">
        <input type="Submit" value="q6">
    </form>
<br/><br/>

<br/><br/>
<form name="my_display_range_5" action = "/my_display_range_5" method = "get" enctype = "multipart/form-data">
<!--{#        Enter the longitude value: <input type="text" name="long"> Depth Range 1: <input type="text" name="depth_range1"> Depth Range 2: <input type="text" name="depth_range2">#}-->
        <input type="Submit" value="Mean and Total">
    </form>
<br/><br/>

<form name="my_display_range_6" action = "/my_display_range_6" method = "get" enctype = "multipart/form-data">
<!--{#        Enter the longitude value: <input type="text" name="long"> Depth Range 1: <input type="text" name="depth_range1"> Depth Range 2: <input type="text" name="depth_range2">#}-->
        <input type="Submit" value="Range Interval">
    </form>
<br/><br/>
</body>
</html>