<!doctype html>
<html>
	<body>

		
		<header> <h1> Home </h1> </header>
		<header> <h1>Prinitha Nagarajan </h1> </header>
		<header> <h1> 1001668557</h1> </header>
		<br> <br>
		<h2><a href = "/enternew">upload</a></h2> <br>
		<h2><a href = "/list">list table records</a></h2> <br>
		<h2>Quake Range</h2>
		<form method=POST action="/quakeRange">
			<div>
				<label>Mag1</label><br>
				<input type="text" name="data_m1"><br>
				<label>mag2</label><br>
				<input type="text" name="data_m2"><br>
				<label>inc</label><br>
				<input type="text" name="data_inc"><br>
				<input type="submit">
				<br><br>
			</div>
		</form>
	</body>
</html>