<!DOCTYPE html>
<html>
    <head></head>
    <body>
	<h1>Welcome to ADB_Application</h1>
	<fieldset>	
		<legend>Display Table</legend>
		<form method=POST action="/display_table">
			<div>
				<input type="submit" value="Show table"><br>
				<br><br>
			</div>
		</form>
	</fieldset>
	<fieldset>
			
			SELECT count(*) FROM ASS2_MONTHs where "mag" BETWEEN '2.0' AND '2.5' 
		<legend>Count Greater than :</legend>
		<form method=POST action="/search">
			<div>
				<label>Enter Magnitude</label><br>
				<input type="text" name="data_mag"><br>
				<input type="submit">
				<br><br>
			</div>
		</form>
	</fieldset>
	<fieldset>		
		<legend>Show picture based on salary</legend>
		<form method=POST action="/show_range_image">
			<div>
				<label>Enter Salary</label><br>
				<input type="text" name="data_salary"><br>
				<input type="submit">
				<br><br>
			</div>
		</form>
	</fieldset>
	<fieldset>		
		<legend>Update Picture</legend>
		<form method=POST action="/update_picture" enctype = "multipart/form-data">
			<div>
				<label>Enter User Name</label><br>
				<input type="text" name="data_name"><br>
				<label>Select an image</label><br>
				<input type="file" name="file"><br>
				
				<input type="submit">
				<br><br>
			</div>
		</form>
	</fieldset>
	<fieldset>		
		<legend>Delete User</legend>
		<form method=POST action="/delete_user">
			<div>
				<label>Enter User Name</label><br>
				<input type="text" name="data_name"><br>
				<input type="submit">
				<br><br>
			</div>
		</form>
	</fieldset>
	<fieldset>	
		<legend>Update Keyword</legend>
		<form method=POST action="/update_keyword">
			<div>
				<label>Enter User Name</label><br>
				<input type="text" name="data_name"><br>
				<label>Enter keywords</label><br>
				<input type="text" name="data_keyword"><br>
				<input type="submit">
				<br><br>
			</div>
		</form>
	</fieldset>
	
	<fieldset>		
		<legend>Change Salary</legend>
		<form method=POST action="/change_salary">
			<div>
				<label>Enter User Name</label><br>
				<input type="text" name="data_name"><br>
				<label>Enter salary</label><br>
				<input type="text" name="data_salary"><br>
				<input type="submit">
				<br><br>
			</div>
		</form>
	</fieldset>
	</body>
</html>