<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>

</head>
<body>
<h1>
    1001668557 <br/>
    NAGARAJAN, PRINITHA<br/>
    The states are: <br/><br/>
    <br>
</h1>
<table>
    <tr>

        <th> State between 2 to 8 million </th>
    </tr>
    {% for row1 in rows1 %}
        <tr>
            <td>
              {{ row1[0] }}
            </td>
        </tr>
    {% endfor %}

</table>
<table>
    <tr>

        <th> State between 8 million and 40 million </th>
    </tr>
    {% for row2 in rows2 %}
        <tr>
            <td>
              {{ row2[0] }}
            </td>
        </tr>
    {% endfor %}

</table>


{% if chart%}
    <embed type="image/svg+xml" src= {{ chart|safe }} />
{% endif %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="false"></span></button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>
</html>